secret.tfvars
.terraform
.idea
*.iml

# css build
assets/css/
assets/node_modules/
assets/package-lock.json

# dev build
index.html
!assets/index.html

# js build artifacts
assets/js/bundle.js

# elm build artifacts
elm-stuff/
dist/
assets/elm.min.js

# rust build artifacts
target
.anchor

# test artifacts
node_modules
