////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Modules Import /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "animations";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Std Class Overrides ////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for js.window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

a:link, a:visited {
  color: #FDF9EF;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Custom Classes /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Imbue;
  src: url("../fonts/Imbue-Medium.ttf") format("truetype");
}

.has-font-1 {
  font-family: WorkSans, sans-serif;
}

.has-font-2 {
  font-family: Imbue, sans-serif;
}

.has-opacity {
  opacity: 75%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-transparent-text {
  color: transparent;
}

.has-off-white {
  background-color: #FDF9EF;
}

.has-off-white-text {
  color: #FDF9EF;
}

.has-black {
  background-color: #241F20;
  color: #FDF9EF;
}

.has-black-text {
  color: #241F20;
}

.has-sky-blue {
  background-color: #3D92CA;
}

.has-sky-blue-text {
  color: #3D92CA !important;
}

.has-hyper-blue {
  background-color: #002BFF;
}

.has-ver-blue {
  background-color: #00F4EF;
}

.has-orange {
  background-color: #FF3C24;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// spacing /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-right {
  float: right !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// borders /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-border-1 {
  border-bottom: 1px solid #FDF9EF;
}

.has-border-2 {
  border: 1px dotted #4a4a4a;
}

.is-navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 101;
  // blend in
  background-color: #241F20;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// buttons /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-button-1, .is-button-2, .is-button-3 {
  height: 30px;
  text-align: center;
}

.is-button-1, .is-button-2 {
  background-color: #241F20;
  border: 1px dotted #4a4a4a;
  color: #FDF9EF;
}

.is-button-2 {
  letter-spacing: 10px;
}

.is-button-3 {
  color: #241F20;
  border: 1px dotted #4a4a4a;
  background-color: #FDF9EF;
}

.is-active-header-tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.is-button-1:hover, .is-button-2:hover, .is-active-header-tab {
  background-color: #FDF9EF;
  color: #241F20;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// images /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-image-1, .is-image-2 {
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 1px 1px 5px grey;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Variable Overrides ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Import ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Extensions ///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-font-1 {
  @include until($tablet) {
    font-size: small;
  }
  @include from($tablet) {
    font-size: medium;
  }
}

.has-font-2 {
  @include until($tablet) {
    font-size: medium;
  }
  @include from($tablet) {
    font-size: large;
  }
}

.is-image-1 {
  @include until($tablet) {
    width: 160px;
    height: 238px;
  }
  @include from($tablet) {
    width: 225px;
    height: 350px;
  }
}

.is-button-2 {
  @include until($tablet) {
    width: 325px;
  }
  @include from($tablet) {
    width: 455px;
  }
}

.has-spacing-1 {
  @include until($tablet) {
    margin-right: 3px !important;
  }
  @include from($tablet) {
    margin-right: 6px !important;
  }
}
