////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Std Class Overrides ////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for js.window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Custom Classes /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-border-1 {
  border-bottom: 1px solid black;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Variable Overrides ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Import ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";
